
<div class="fixed doom">
	<div class="sectiontext">
		<div class="facebook-btn" >
			<h1>Behold!</h1>
			<h2>The Diatribe of Doom</h2>
		</div>
	</div>
	{% include doom-attribution.html %}
</div>

<div class="scrolling">
	<div class="container">
	<div class="row">
	<br/>
	<blockquote class="blockquote-reverse">
	<p>People sometimes ask, "What do you mean by <i>doom</i>? Is it nuclear holocaust?" <b>No.</b> "Is it environment collapse?" <b>No.</b> "Then it must be a comet slamming into the Earth?" <b>No.</b></p>
	<p>No. Doom, my friends, is the slow yet accelerating, irretrievable decline into collective human stupidity.</p>
	<p>In other words, we're doomed. Any attempt to escape the doom only further reinforces the doom (i.e. the dialectic of doom). We'll achieve absolute doom when the doom saturates the entire language and then rises like a doomful mist above a meadow. This has already begun. Witness the doomstrusion into the following terms: Doomtastic, doomnomenal, doomceptional, stupendoom, etc.</p>
	<p>Are we doomed? Oh, let us count the ways...</p>
	<small>A <cite>Donald J. McNutt</cite> original work</small>
	</blockquote>
	</div>
	</div>
</div>

